@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {

    --color-lighterdark: #2b2b36;
    --color-lightdark: #20202a;
    --color-dark: #1e1e28;
    --text-yellow: #ffc107;
    --text-dyellow: #c4950a;
    --header-color: #191923;
    --card-color: #2c2c38;
    --text-dark: #18181b;
    --text-light: #6b7280;
    --white: #ffffff;
    --max-width: 1200px;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", "Ubuntu", sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

body {
  font-family: "Fredoka", sans-serif;
  background-color: var(--header-color);
}
.section__container {
  
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
  }

.section__header {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;
    text-align: center;

  }
  
  .section__description {
    color: var(--white);
    font-size: 18px;
    line-height: 1.75rem;
    text-align: center;
  }
  
  .btn {
    padding: 0.75rem 1.5rem;
    outline: none;
    border: none;
    white-space: nowrap;
    font-size: 1rem;
    color: var(--white);
    background-color: var(--text-yellow);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
  }

  .btn:hover {
    background-color: var(--text-dyellow);
  }
  
  .logo a {

    font-family:"Ubuntu";
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--white);
  }
  
  .logo a span {
    font-family:"Ubuntu";
    color: var(--text-yellow);
  }
  
  img {
    display: flex;
    width: 100%;
  }

  
  a {
    text-decoration: none;
    transition: 0.3s;
  }
  
  ul {
    list-style: none;
  }

  nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
  }

  .nav__header {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-lightdark);
  }
  
  .nav__menu__btn {
    font-size: 1.5rem;
    color: var(--white);
    cursor: pointer;
  }
  
  .nav__links {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    padding: 2rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--white);
    transition: 0.5s;
    z-index: -1;
    transform: translateY(-100%);
    background-color: var(--header-color);
  }

  .nav__links.open {
    background: var(--color-lighterdark);
    transform: translateY(0);
  }
  
  .nav__links a {
    font-weight: 500;
    color: var(--text-yellow);
  }
  
  .nav__links a:hover {
    color: var(--white);
  }
  
  .header__container {
    width: 100%;
    display: grid;
    gap: 2rem;
    overflow: hidden;

  }
  
  
  .header__content h1 {
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 4.5rem;
    color: var(--white);
    text-align: center;
  }
  
  .header__content h1 span {
    color: var(--text-yellow);
  }
  .header__content p span {
    color: var(--text-yellow);
  }

  .header__image img{
    object-fit: cover;
    border: 25px groove var(--text-yellow);
    border-radius: 10%;
    width: 100%;
    height: 100%;

  }
  
  .header__content .section__description {
    margin-bottom: 2rem;
  }
  
  .header__btn {
    text-align: center;
  }

  .servicesdesc__container{
    padding-top: 140px;
    padding-bottom: 0;
    max-width: 800px;
    position: relative;
  }
  .servicesdesc__container :is(.section__header) {
    font-size: 60px;
    margin-inline: auto;
    color: white;
    margin-bottom: 10px;
  }

  .servicesdesc__container :is(.section__header) span{
    margin-inline: auto;
    color: var(--text-yellow);
  }

  .service__container {
    display: grid;
    gap: 1rem;
  }

  
  .service__card {
    padding: 2rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 3rem;
    transition: 0.3s;
  }
  
  .service__card:hover {
    background: #2c2c38;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
  }
  
  .service__card .service__icon {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 5px 11px;
    font-size: 2rem;
    color: var(--white);
    border-radius: 1rem;
  }
  
  .service__card:nth-child(1) .service__icon {
    background-color: #185adb;
    box-shadow: 5px 5px 30px #185adbd0;
  }
  
  .service__card:nth-child(2) .service__icon {
    background-color: #ff3e67;
    box-shadow: 5px 5px 30px #ff3e67d0;
    
  }
  
  .service__card:nth-child(3) .service__icon {
    background-color: #62b15c;
    box-shadow: 5px 5px 30px #62b15cd0;
  }
  
  .service__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
  }
  
  .service__card p {
    margin-bottom: 1rem;
    font-size: 18px;
    color: var(--text-light);
    line-height: 1.75rem;
  }
  
  .aboutus__container :is(.section__header) {
    max-width: 600px;
    font-size: 60px;
    margin-inline: auto;
    color: white;
    margin-bottom: 10px;
  }

  .aboutus__container :is(.section__header) span{
    max-width: 600px;
    margin-inline: auto;
    color: var(--text-yellow);
  }
  .aboutus__container :is(.section__description) {
    max-width: 600px;
    margin-inline: auto;
  }

  .aboutus__grid {
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
  }
  
  .aboutus__card {
    padding: 1rem;
    text-align: center;
    border-radius: 2rem;
    transition: 0.3s;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
    
  }
  .aboutus__card:hover {
    background: #2c2c38;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
  }

.aboutus .section__header h2{

    color: white;
  }
  
  .aboutus__card img {
    border-radius: 20%;
    background-color: var(--header-color);
    max-width: 200px;
    margin-inline: auto;
    margin-bottom: 1rem;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.3));
  }
  

  .aboutus__card h3 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
  }
  
  .aboutus__card h4 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
  }
  
  .aboutus__card p {
    margin-bottom: 0.5rem;
    color: var(--text-light);
    line-height: 1.75rem;
  }
  
  .aboutus__contacts{
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--text-yellow);
  }
  
  .aboutus__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .aboutus__footer .cv {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--white);
  }

  .aboutus__grid2 {
    margin-top: 4rem;
    display: grid;
    gap: 1rem;
  }

  .footer {
    background-color: var(--color-lightdark);
  }
  
  .footer__container {
    display: grid;
    gap: 4rem 2rem;
  }
  
  .footer__logo {
    margin: auto;
    margin-bottom: 1rem;
  }
  
  .footer__col .section__description {
    text-align: left;
  }
  
  .footer__col h4 {
    margin-bottom: 1rem;
    font-size: 2.0rem;
    font-weight: 600;
    color: var(--white);
  }
  
  .footer__links {
    display: grid;
    gap: 0.75rem;
  }
  
  .footer__links a {
    color: var(--text-light);
  }
  
  .footer__links a:hover {
    color: var(--primary-color);
  }
  
  .footer__bar {
    padding: 1rem;
    font-size: 0.9rem;
    color: var(--text-light);
    text-align: center;
  }


  @media (width > 768px) {
    nav {
      position: static;
      padding: 2rem 4rem;
      max-width: 100%;
      margin-inline: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
      background: var(--color-lightdark);
    }
  
    .nav__header {
      flex: 1;
      padding: 0;
      background-color: transparent;
    }
  
    .nav__logo a {
      color: var(--white);
    }
  
    .nav__menu__btn {
      display: none;
    }
  
    .nav__links {
      position: static;
      padding: 0;
      flex-direction: row;
      background-color: transparent;
      transform: none;
    }
  
    .nav__links a {
        font-size: 20px;
      color: var(--text-yellow);
    }
  
    .nav__links a:hover {
      color: var(--white);
    }
  
    .nav__btn {
      display: flex;
      flex: 1;
    }
  
    .nav__btn .btn {
      padding: 8px 10px;
      font-size: 1.5rem;
      border-radius: 100%;
    }
    .header__container {
      grid-template-columns: 2fr 3fr;
      align-items: center;
    }
  
    .header__content h1,
    .header__content .section__description,
    .header__btn {
      text-align: left;
    }
  
    .header__image {
      object-fit: cover;
      grid-area: 1/2/2/3;
    }
    .aboutus__grid {
      grid-template-columns: repeat(3, 1fr);
    }
    .aboutus__grid2 {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .service__container {
      grid-template-columns: repeat(3, 1fr);
    }
    .footer__container {
      grid-template-columns: 2fr 2fr;
    }
}

@media (width > 1024px) {
  .aboutus__grid {
    gap: 2rem;
  }

  .aboutus__card {
    padding: 2rem;
    border-radius: 3rem;
  }

  .service__container {
    gap: 2rem;
  }
}